/*--------------------
COLORS
--------------------*/
.color1-background {
  color: white;
  background: #CEEC97; }

.color2-background {
  color: white;
  background: #F4B393; }

.color3-background {
  background: #7A28CB; }

.color4-background {
  background: #494368;
  color: white; }

.color4-shadow-background {
  background: #332f49;
  color: white; }

.color5-background {
  background: #ff00b5; }

/*--------------------
DEFAULTS
--------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px; }

body {
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "Oswald";
  line-height: 1.3em;
  margin-bottom: 20px; }

h3 {
  font-weight: 200; }

h4 {
  font-weight: 200; }

input {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none; }

/*--------------------
HIDING SHIT
--------------------*/
@media (max-width: 767px) {
  .mobile-only {
    display: block !important; }

  .tablet-up {
    display: none !important; } }
@media (min-width: 768px) {
  .mobile-only {
    display: none !important; }

  .tablet-up {
    display: block !important; } }
/*--------------------
NAV BAR
--------------------*/
header.navbar {
  background: rgba(0, 0, 0, 0.8); }
  header.navbar button {
    margin: 5px;
    font-size: 16px;
    height: 40px;
    padding: 5px 20px 5px 20px; }

.navbar-logo {
  height: 25px; }

.navbar-inverse .navbar-text {
  margin-top: 11px; }

/*--------------------
HELPER CLASSES
--------------------*/
.center, .guide-title, .guide-subheader {
  text-align: center; }

.right {
  text-align: right; }

.pad {
  padding: 20px; }

.add-margin-bottom {
  margin-bottom: 40px; }

.pad-top-and-bottom {
  padding: 40px 0px 40px 0px; }

.flex-container {
  display: flex; }
  .flex-container .flex-vcenter {
    align-self: center; }

.no-pad {
  padding: 0px; }

.no-pad-top {
  padding-top: 0px; }

.no-pad-bottom {
  padding-bottom: 0px; }

.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.half-pad-top {
  padding-top: 20px; }

button {
  position: relative;
  vertical-align: top;
  height: 60px;
  padding: 0px 30px 0px 30px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ff00b5;
  border: 0;
  border-bottom: 2px solid #cc0091;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #cc0091;
  box-shadow: inset 0 -2px #cc0091;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  display: block; }
  button.inline {
    display: inline;
    margin: 0; }

button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.cta-button {
  margin-top: 25px;
  margin-bottom: 10px; }

.cta-button:hover {
  background-color: #ff33c4; }

.guide-header {
  padding-top: 70px;
  background-color: #250C3D;
  color: white;
  width: 100%; }
  .guide-header a {
    color: #ff33c4; }
  .guide-header a:hover {
    color: #ff00b5; }

.guide-list {
  list-style: none;
  display: block;
  margin: 0 auto;
  width: 600px;
  text-align: center; }
  .guide-list a {
    color: white; }

.guide-registration {
  padding-top: 20px; }

.step-number {
  text-align: right;
  font-weight: bold; }

.guide-img {
  max-width: 100%;
  margin-bottom: 12px; }

.guide-row {
  margin-bottom: 20px; }
  .guide-row p:first-child {
    padding-top: 2px; }

.email-cta-section {
  background-color: #250C3D;
  color: white; }

.email-cta-box {
  background-color: #332F49;
  padding: 20px 20px;
  width: 100%; }

.cta-email {
  width: 80%;
  margin: 15px auto;
  display: block; }
