/*--------------------
COLORS
--------------------*/
.color1-background {
  color: white;
  background: #CEEC97; }

.color2-background {
  color: white;
  background: #F4B393; }

.color3-background {
  background: #7A28CB; }

.color4-background {
  background: #494368;
  color: white; }

.color4-shadow-background {
  background: #332f49;
  color: white; }

.color5-background {
  background: #ff00b5; }

/*--------------------
DEFAULTS
--------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px; }

body {
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "Oswald";
  line-height: 1.3em;
  margin-bottom: 20px; }

h3 {
  font-weight: 200; }

h4 {
  font-weight: 200; }

input {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none; }

/*--------------------
HIDING SHIT
--------------------*/
@media (max-width: 767px) {
  .mobile-only {
    display: block !important; }

  .tablet-up {
    display: none !important; } }
@media (min-width: 768px) {
  .mobile-only {
    display: none !important; }

  .tablet-up {
    display: block !important; } }
/*--------------------
HELPER CLASSES
--------------------*/
.center, .guide-title, .guide-subheader {
  text-align: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.right {
  text-align: right; }

.pad {
  padding: 20px; }

.add-margin-bottom {
  margin-bottom: 40px; }

.pad-top-and-bottom {
  padding: 40px 0px 40px 0px; }

.flex-container {
  display: flex; }
  .flex-container .flex-vcenter {
    align-self: center; }

.no-pad {
  padding: 0px; }

.no-pad-top {
  padding-top: 0px; }

.no-pad-bottom {
  padding-bottom: 0px; }

.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.half-pad-top {
  padding-top: 20px; }

/*--------------------
NAV BAR
--------------------*/
.header-navbar {
  background: rgba(0, 0, 0, 0.8); }

.navbar-logo {
  margin-top: 15px;
  margin-left: 10px;
  height: 20px;
  display: inline;
  float: left; }

.fb-nav {
  position: absolute;
  margin-top: 8px;
  right: 10px; }

@media (min-width: 375px) {
  .navbar-logo {
    margin-left: 16px;
    margin-top: 13px;
    height: 25px; }

  .fb-nav {
    right: 16px; } }
@media (min-width: 768px) {
  .navbar-logo {
    margin-left: 64px; }

  .fb-nav {
    right: 64px; } }
/*--------------------
COLORS
--------------------*/
.color1-background {
  color: white;
  background: #CEEC97; }

.color2-background {
  color: white;
  background: #F4B393; }

.color3-background {
  background: #7A28CB; }

.color4-background {
  background: #494368;
  color: white; }

.color4-shadow-background {
  background: #332f49;
  color: white; }

.color5-background {
  background: #ff00b5; }

/*--------------------
DEFAULTS
--------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px; }

body {
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "Oswald";
  line-height: 1.3em;
  margin-bottom: 20px; }

h3 {
  font-weight: 200; }

h4 {
  font-weight: 200; }

input {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none; }

/*--------------------
HIDING SHIT
--------------------*/
@media (max-width: 767px) {
  .mobile-only {
    display: block !important; }

  .tablet-up {
    display: none !important; } }
@media (min-width: 768px) {
  .mobile-only {
    display: none !important; }

  .tablet-up {
    display: block !important; } }
/*--------------------
HELPER CLASSES
--------------------*/
.center, .guide-title, .guide-subheader {
  text-align: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.right {
  text-align: right; }

.pad {
  padding: 20px; }

.add-margin-bottom {
  margin-bottom: 40px; }

.pad-top-and-bottom {
  padding: 40px 0px 40px 0px; }

.flex-container {
  display: flex; }
  .flex-container .flex-vcenter {
    align-self: center; }

.no-pad {
  padding: 0px; }

.no-pad-top {
  padding-top: 0px; }

.no-pad-bottom {
  padding-bottom: 0px; }

.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.half-pad-top {
  padding-top: 20px; }

.footer {
  padding: 0 0;
  padding-bottom: 5px;
  background-color: black;
  color: white;
  width: 100%;
  font-size: 12px;
  text-align: center; }
  .footer a {
    color: #ff33c4; }
  .footer a:hover {
    color: #ff00b5; }
  .footer a:visited {
    color: #ff00b5; }

.footer-thinkrad {
  position: absolute;
  left: 16px;
  height: 35px;
  margin-top: 13px; }

.footer-right2vote {
  margin: auto;
  height: 20px;
  margin-top: 10px; }

.footer-clouda {
  position: absolute;
  margin-left: 10px;
  margin-top: 14px;
  height: 33px;
  right: 16px; }

@media (min-width: 375px) {
  .footer-thinkrad {
    margin-top: 10px;
    height: 45px; }

  .footer-privacy-policy {
    font-size: 14px;
    margin-left: none;
    text-align: center; }

  .footer-clouda {
    right: 16px;
    height: 40px; } }
@media (min-width: 768px) {
  .footer-thinkrad {
    left: 64px; }

  .footer-right2vote {
    height: 28px;
    margin-top: 15px;
    display: block; }

  .footer-privacy-policy {
    margin-top: 0; }

  .footer-clouda {
    right: 64px; } }
/*--------------------
COLORS
--------------------*/
.color1-background {
  color: white;
  background: #CEEC97; }

.color2-background {
  color: white;
  background: #F4B393; }

.color3-background {
  background: #7A28CB; }

.color4-background {
  background: #494368;
  color: white; }

.color4-shadow-background {
  background: #332f49;
  color: white; }

.color5-background {
  background: #ff00b5; }

/*--------------------
DEFAULTS
--------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px; }

body {
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "Oswald";
  line-height: 1.3em;
  margin-bottom: 20px; }

h3 {
  font-weight: 200; }

h4 {
  font-weight: 200; }

input {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none; }

/*--------------------
HIDING SHIT
--------------------*/
@media (max-width: 767px) {
  .mobile-only {
    display: block !important; }

  .tablet-up {
    display: none !important; } }
@media (min-width: 768px) {
  .mobile-only {
    display: none !important; }

  .tablet-up {
    display: block !important; } }
/*--------------------
HELPER CLASSES
--------------------*/
.center, .guide-title, .guide-subheader {
  text-align: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.right {
  text-align: right; }

.pad {
  padding: 20px; }

.add-margin-bottom {
  margin-bottom: 40px; }

.pad-top-and-bottom {
  padding: 40px 0px 40px 0px; }

.flex-container {
  display: flex; }
  .flex-container .flex-vcenter {
    align-self: center; }

.no-pad {
  padding: 0px; }

.no-pad-top {
  padding-top: 0px; }

.no-pad-bottom {
  padding-bottom: 0px; }

.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.half-pad-top {
  padding-top: 20px; }

.splash {
  background: #250C3D;
  color: white; }

.video-section {
  width: 100%;
  margin-bottom: 15px; }

.cta-alternative {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white; }

.cta-alternative:hover {
  color: #ff00b5; }

.cta-alternative:visited {
  color: white; }

.cta-alternative:visited:hover {
  color: #ff00b5; }

.cta-alternative:active {
  color: #ff33c4; }

.headline {
  font-size: 26px;
  text-align: center;
  color: white;
  padding-top: 65px;
  margin-bottom: 10px; }

.supporting-statement {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  color: white; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.urgency-statement {
  text-align: center;
  color: white;
  padding: 0 0;
  margin-top: 20px;
  padding-bottom: 25px; }

.pre-register-button {
  text-align: center; }

@media (min-width: 768px) {
  .splash {
    padding-bottom: 40px; }

  .headline {
    padding-top: 75px;
    font-size: 30px; }

  .supporting-statement {
    font-size: 26px; } }
@media (min-width: 1170px) {
  .headline {
    font-size: 40px; }

  .supporting-statement {
    font-size: 34px; }

  .urgency-statement {
    font-size: 24px;
    margin-top: 30px; }
    .urgency-statement strong {
      font-size: 26px; } }
/*--------------------
COLORS
--------------------*/
.color1-background {
  color: white;
  background: #CEEC97; }

.color2-background {
  color: white;
  background: #F4B393; }

.color3-background {
  background: #7A28CB; }

.color4-background {
  background: #494368;
  color: white; }

.color4-shadow-background {
  background: #332f49;
  color: white; }

.color5-background {
  background: #ff00b5; }

/*--------------------
DEFAULTS
--------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px; }

body {
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "Oswald";
  line-height: 1.3em;
  margin-bottom: 20px; }

h3 {
  font-weight: 200; }

h4 {
  font-weight: 200; }

input {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none; }

/*--------------------
HIDING SHIT
--------------------*/
@media (max-width: 767px) {
  .mobile-only {
    display: block !important; }

  .tablet-up {
    display: none !important; } }
@media (min-width: 768px) {
  .mobile-only {
    display: none !important; }

  .tablet-up {
    display: block !important; } }
/*--------------------
HELPER CLASSES
--------------------*/
.center, .guide-title, .guide-subheader {
  text-align: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.right {
  text-align: right; }

.pad {
  padding: 20px; }

.add-margin-bottom {
  margin-bottom: 40px; }

.pad-top-and-bottom {
  padding: 40px 0px 40px 0px; }

.flex-container {
  display: flex; }
  .flex-container .flex-vcenter {
    align-self: center; }

.no-pad {
  padding: 0px; }

.no-pad-top {
  padding-top: 0px; }

.no-pad-bottom {
  padding-bottom: 0px; }

.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.half-pad-top {
  padding-top: 20px; }

/*--------------------
POINTS
--------------------*/
.point-container {
  min-height: 100%; }
  .point-container .point-inner {
    margin: 10px; }
    .point-container .point-inner .point-box {
      padding: 10px;
      text-align: center; }
      .point-container .point-inner .point-box img {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px; }
      .point-container .point-inner .point-box div {
        padding-top: 10px; }

.point-headline {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 10px; }

.point-headline-2 {
  font-size: 26px;
  margin-bottom: 35px; }

@media (min-width: 1170px) {
  .point-headline {
    font-size: 30px; }

  .point-headline-2 {
    font-size: 30px; } }
/*--------------------
COLORS
--------------------*/
.color1-background {
  color: white;
  background: #CEEC97; }

.color2-background {
  color: white;
  background: #F4B393; }

.color3-background {
  background: #7A28CB; }

.color4-background {
  background: #494368;
  color: white; }

.color4-shadow-background {
  background: #332f49;
  color: white; }

.color5-background {
  background: #ff00b5; }

/*--------------------
DEFAULTS
--------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px; }

body {
  font-family: "Roboto";
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "Oswald";
  line-height: 1.3em;
  margin-bottom: 20px; }

h3 {
  font-weight: 200; }

h4 {
  font-weight: 200; }

input {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none; }

/*--------------------
HIDING SHIT
--------------------*/
@media (max-width: 767px) {
  .mobile-only {
    display: block !important; }

  .tablet-up {
    display: none !important; } }
@media (min-width: 768px) {
  .mobile-only {
    display: none !important; }

  .tablet-up {
    display: block !important; } }
/*--------------------
HELPER CLASSES
--------------------*/
.center, .guide-title, .guide-subheader {
  text-align: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.right {
  text-align: right; }

.pad {
  padding: 20px; }

.add-margin-bottom {
  margin-bottom: 40px; }

.pad-top-and-bottom {
  padding: 40px 0px 40px 0px; }

.flex-container {
  display: flex; }
  .flex-container .flex-vcenter {
    align-self: center; }

.no-pad {
  padding: 0px; }

.no-pad-top {
  padding-top: 0px; }

.no-pad-bottom {
  padding-bottom: 0px; }

.no-bottom {
  padding-bottom: 0;
  margin-bottom: 0; }

.half-pad-top {
  padding-top: 20px; }

.guide-welcome {
  padding-top: 20px;
  background-color: #250C3D;
  color: white; }

.guide-header-2 {
  padding-top: 20px; }

.guide-list {
  list-style: none;
  display: block;
  margin: 0 auto;
  width: 600px;
  text-align: center; }
  .guide-list a {
    color: white; }

.register-button {
  margin-top: 20px;
  margin-bottom: 10px; }

#guide-registration {
  padding-top: 20px;
  display: none; }

.registration-quote-area {
  margin-top: 40px;
  margin-bottom: 40px; }

.help-me-vote-toggle-area {
  padding-top: 10px;
  color: white;
  background-color: #250C3D;
  padding-bottom: 10px; }

.toggle-vote-section {
  margin-top: 20px; }

#guide-vote {
  display: none;
  padding-top: 20px; }

#guide-vote-cta {
  display: none; }

#guide-registration-cta {
  display: none; }

.step-number {
  text-align: right;
  font-weight: bold; }

.guide-img {
  max-width: 100%;
  margin-bottom: 12px; }

.guide-row {
  margin-bottom: 10px; }
  .guide-row p:first-child {
    padding-top: 2px; }

.help-me-vote-section {
  padding-top: 20px; }

.first-email-cta-section {
  color: white;
  background-color: #332F49;
  padding: 15px 15px;
  margin-bottom: 20px; }

.guide-p {
  margin-bottom: 8px; }

.guide-ul {
  margin-bottom: 8px; }

.guide-headline {
  font-size: 26px;
  text-align: center; }

.post-fb-page {
  margin-top: 20px; }

@media (min-width: 768px) {
  .guide-headline {
    font-size: 30px; } }
.guide-facebook-cta-section {
  background-color: #250C3D;
  color: white;
  padding-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 100%; }

button {
  position: relative;
  vertical-align: top;
  height: 60px;
  padding: 0px 30px 0px 30px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ff00b5;
  border: 0;
  border-bottom: 2px solid #cc0091;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #cc0091;
  box-shadow: inset 0 -2px #cc0091;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  display: block; }
  button.inline {
    display: inline;
    margin: 0; }

button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.cta-button {
  margin-top: 25px;
  margin-bottom: 10px; }

.cta-button:hover {
  background-color: #ff33c4; }

.share-cta-box {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 20px; }

.share-headline {
  font-size: 26px; }

@media (min-width: 768px) {
  .share-headline {
    font-size: 30px; } }
/*--------------------
SHARE
--------------------*/
.facebook-button-text {
  margin-left: 3px;
  margin-top: -10px;
  height: 25px;
  display: inline; }

.navbar-facebook-button-text {
  display: inline;
  margin-top: -7px;
  margin-left: 1px;
  height: 18px; }

.facebook-plugin-container {
  width: 300px;
  margin: 0 auto; }

.facebook-likebox-container {
  width: 225px;
  margin: 0 auto; }

@media (min-width: 520px) {
  .facebook-plugin-container {
    width: 500px; } }
.facebook-button {
  background-color: #43609C;
  -webkit-box-shadow: inset 0 -2px #344a78;
  box-shadow: inset 0 -2px #344a78;
  border-bottom: 2px solid #344a78;
  margin-top: 25px; }

.share-instructions {
  width: 180px;
  margin: 0 auto; }
  .share-instructions ol {
    margin-left: -13px; }
  .share-instructions li {
    font-size: 21px; }

/*--------------------
UNORGANIZED
--------------------*/
.bullet-info-area {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  /*p {
      font-size: 24px;
  }
  
  li {
      font-size: 24px;
  }*/ }
  .bullet-info-area h2 {
    color: white;
    font-size: 36px; }
  @media (min-width: 1025px) {
    .bullet-info-area h2 {
      font-size: 40px; } }

@media (min-width: 768px) {
  .bullet-info-area {
    font-size: 20px; } }
.cta-area {
  background-color: rgba(218, 236, 246, 0.5);
  padding: 20px 20px;
  margin-top: 45px; }

.cta-headline {
  margin-top: 10px; }

@media (min-width: 970px) {
  .cta-headline {
    margin-top: 0; } }
.pre-cta {
  font-family: FuturaLT;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px; }

/*--------------------
COLOR CLASSES
--------------------*/
.white {
  color: white; }

.share-container {
  margin-bottom: 20px;
  text-align: center; }
  .share-container .stButton, .share-container stMainServices {
    height: inherit; }
  .share-container .stButton_gradient {
    height: inherit; }

.quote {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4em; }

@media (min-width: 768px) {
  .quote {
    font-size: 24px; } }
/*--------------------
SHARE
--------------------*/
.canada-area {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-image: url(../img/canada_leaf.png);
  background-position: top center;
  background-size: cover;
  color: white; }
  .canada-area h1 {
    margin-top: 35px;
    font-size: 30px; }
  .canada-area h2 {
    font-size: 24px; }

@media (min-width: 768px) {
  .canada-area h1 {
    font-size: 36px; }
  .canada-area h2 {
    font-size: 30px; } }
.fb-area {
  padding-top: 20px;
  padding-bottom: 20px; }

.stButton .st-twitter-counter {
  padding-bottom: 20px !important; }

.stButton .stMainServices {
  padding-bottom: 20px !important; }

.stButton .st-facebook-counter {
  padding-bottom: 20px !important; }

/*--------------------
DONATION
--------------------*/
.donation-area {
  padding-top: 20px;
  padding-bottom: 20px; }
