@import "_base.scss";

.special-ballot-basic-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.campus-splash {
    background: $splash-bg-color;
    color: white;
}

.date-headline {
    margin-top: 60px;
    font-size: 70px;
    margin-bottom: 0;
}

.vote-headline {
    margin-top: -15px;
    font-size: 120px;
    margin-bottom: 0;
}

.campus-text-container {
    padding-top: 5px;
    width: 270px;
    margin: 0 auto;
}

.campus-text {
    margin-bottom: 0;
}

.thats-right {
    color: black;
    font-size: 24px;
}

.hometown-riding-headline {
    margin-top: -7px;
    font-size: 40px;
}

.on-campus-headline {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 50px;
    padding-bottom: 15px;
}

.how-headline {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 100px;
    color: black;
    text-align: center;
}

.where-headline {
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 100px;
    color: black;
}

.campus-img {
    width: 290px;
    margin-bottom: 10px;
}

.post-fb-text {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wat {
    background: $splash-bg-color;
    color: white;
}

.wat-headline {
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 100px;
    color: white;
}

.how-who-whr {
    padding-bottom: 5px;
}

.fb-container {
    padding-top: 5px;
    width: 290px;
    margin: 0 auto;
}

.fb-text-container {  
    width: 290px;
    margin: 0 auto;
}

@media (min-width: 375px) {
    .fb-text-container {  
        width: 320px;
    }
}