@import '_base.scss';

.guide-header {
    padding-top: 70px;
    background-color: $splash-bg-color;
    color: white;
    width: 100%;
    
    a {
        color: $color5-highlight;
    }
    
    a:hover {
        color: $color5;  
    } 
}

.guide-title {
    @extend .center;
}

.guide-subheader {
    @extend .center;
}

.guide-list {
    list-style: none;
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    
    a { 
        color: white;
    }
}

.guide-registration {
    padding-top: 20px;
}

.step-number {
    text-align: right;
    font-weight: bold;
}

.guide-img {
    max-width: 100%;
    margin-bottom: 12px;
}

.guide-row {
    margin-bottom: 20px;
    
    p:first-child {
        padding-top: 2px;   
    }
}

.email-cta-section {
    background-color: $splash-bg-color;
    color: white;
}

.email-cta-box {
    background-color: #332F49;
    padding: 20px 20px;
    width: 100%;
}

.cta-email {
    width: 80%;
    margin: 15px auto;
    display: block;
}

.cta-checkbox {
    
}

.help-me-vote-section {

}

