@import '_base.scss';

.guide-header {
    padding-top: 70px;
    background-color: $splash-bg-color;
    color: white;
    width: 100%;
    
    a {
        color: $color5-highlight;
    }
    
    a:hover {
        color: $color5;  
    } 
}

.guide-header-2 {
    padding-top: 20px;
}

.guide-title {
    @extend .center;
}

.guide-subheader {
    @extend .center;
}

.guide-list {
    list-style: none;
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    
    a { 
        color: white;
    }
}

#guide {
    display: none;
}

#guide-registration {
    padding-top: 20px;
}

.step-number {
    text-align: right;
    font-weight: bold;
}

.guide-img {
    max-width: 100%;
    margin-bottom: 12px;
}

.guide-row {
    margin-bottom: 20px;
    
    p:first-child {
        padding-top: 2px;   
    }
}

.email-cta-section {
    //background: -webkit-linear-gradient(black, $splash-bg-color); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(black, $splash-bg-color); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(black, $splash-bg-color); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(black, $splash-bg-color); /* Standard syntax */
    
    background-color: $splash-bg-color;
    color: white;
}

.email-cta-box {
    
    padding: 10px 0px;
    margin: 0 auto;

}

.cta-email {
    width: 80%;
    margin: 15px auto;
    display: block;
}

@media (min-width: 768px) {
    .email-cta-box {
        width: 75%;
        background-color: #332F49;

    }
}

.cta-checkbox {
    
}

.post-fb-plugin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.help-me-vote-section {
    padding-top: 20px;
}

.first-email-cta-section {
    color: white;
    background-color: #332F49;
    padding: 15px 15px;
    margin-bottom: 20px;
}

.guide-p {
    margin-bottom: 8px;
}

.guide-ul {
    margin-bottom: 8px;
}
