@import "base.scss";

.guide-welcome {   
    padding-top: 20px;
    background-color: #250C3D;
    color: white;
}

.guide-header-2 {
    padding-top: 20px;
}

.guide-title {
    @extend .center;
}

.guide-subheader {
    @extend .center;
}

.guide-list {
    list-style: none;
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
    
    a { 
        color: white;
    }
}

.register-button {
    margin-top: 20px;
    margin-bottom: 10px;
}

#guide-registration {
    padding-top: 20px;
    display:none;
}

.registration-quote-area {
    margin-top: 40px;
    margin-bottom: 40px;
}

.help-me-vote-toggle-area {
    padding-top: 10px;
    color: white;
    background-color: $splash-bg-color;
    padding-bottom: 10px;
}

.toggle-vote-section {
    margin-top: 20px;
}

#guide-vote {
    display:none;
    padding-top: 20px;
}

#guide-vote-cta {
    display:none;
}

#guide-registration-cta {
    display:none; 
}

.step-number {
    text-align: right;
    font-weight: bold;
}

.guide-img {
    max-width: 100%;
    margin-bottom: 12px;
}

.guide-row {
    margin-bottom: 20px;
    
    p:first-child {
        padding-top: 2px;   
    }
}

.help-me-vote-section {
    padding-top: 20px;
}

.first-email-cta-section {
    color: white;
    background-color: #332F49;
    padding: 15px 15px;
    margin-bottom: 20px;
}

.guide-p {
    margin-bottom: 8px;
}

.guide-ul {
    margin-bottom: 8px;
}

.guide-headline {
    font-size: 26px;
    text-align: center;
}

@media (min-width: 768px) {
    .guide-headline {
        font-size: 30px;   
    }
}

.guide-facebook-cta-section {
    background-color: #250C3D;
    color: white;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px; 
    width: 100%;
}