@import "_base.scss";

.splash {
    background: $splash-bg-color;
    color: white;
}

.video-section {
    //background: black;
    width: 100%;
    margin-bottom: 15px;
}

.cta-alternative {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: white;   
}

.cta-alternative:hover {
    color: $color5;
}

.cta-alternative:visited {
    color: white;   
}

.cta-alternative:visited:hover {
    color: $color5;  
}

.cta-alternative:active {
    color: $color5-highlight;
}

.headline {
    font-size: 26px;
    text-align: center;
    color: white;
    padding-top: 65px;
    margin-bottom: 10px;
    
    
}

.supporting-statement {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.urgency-statement {
    text-align: center;
    color: white;
    padding: 0 0;
    margin-top: 20px;
    padding-bottom: 25px;
    

}

.campus-button {
    margin-top: -5px;
}

.splash {
    padding-bottom: 20px;   
}
.pre-register-button {
    text-align: center;
    
}

@media (min-width: 768px) {    
    .headline {
        padding-top: 75px;
        font-size: 30px;   
    }
    
    .supporting-statement {
        font-size: 26px;   
    }
}

@media (min-width: 1170px) { 
    .headline {
        font-size: 40px;   
    }
    
    .supporting-statement {
        font-size: 34px;   
    }
    
    .urgency-statement {
        font-size: 24px;  
        margin-top: 30px;
        
        strong {
            font-size: 26px;
        }
    }
}