/*--------------------
COLORS
--------------------*/

$color1: #05668D;
$color1-shadow: darken($color1, 10%);
$color1-highlight: lighten($color1, 10%);

$color2: #028090;
$color2-shadow: darken($color2, 10%);
$color2-highlight: lighten($color2, 10%);

$color3: #00A896;
$color3-shadow: darken($color3, 10%);
$color3-highlight: lighten($color3, 10%);

$color4: #e9e9e9;
$color4-shadow: darken($color4, 10%);
$color4-highlight: lighten($color4, 10%);

$color5: #ff00b5;
$color5-shadow: darken($color5, 10%);
$color5-highlight: lighten($color5, 10%);

.color1-background {
    color: white;
    background: $color1;
}

.color2-background {
    color: white;
    background: $color2;
}

.color3-background {
    background: $color3;
}

.color4-background {
    /*background: $color4;*/
    background-image:url(../img/iceberg.jpg);
    height: 1000px;
}

.color5-background {
    background: $color5;
}


/*--------------------
FONTS
--------------------*/

@font-face {
    font-family: DINNextLTPro-Regular;
    src: url(../fonts/DINNextLTPro-Regular.otf);
}

@font-face {
    font-family: DINNextLTPro-Bold;
    src: url(../fonts/DINNextLTPro-Bold.otf);
}

@font-face {
    font-family: DINNextLTPro-Medium;
    src: url(../fonts/DINNextLTPro-Medium.otf);
}

@font-face {
    font-family: pier-regular;
    src: url(../fonts/pier-regular.otf);
}

@font-face {
    font-family: pier-bold;
    src: url(../fonts/pier-regular.otf);
}

@font-face {
    font-family: FuturaLT-ExtraBold;
    src: url(../fonts/FuturaLT-ExtraBold.ttf);
}

@font-face {
    font-family: FuturaLT-Bold;
    src: url(../fonts/FuturaLT-Bold.ttf);
}

@font-face {
    font-family: FuturaLT-Light;
    src: url(../fonts/FuturaLT-Light.ttf);
}

@font-face {
    font-family: FuturaLT;
    src: url(../fonts/FuturaLT.ttf);
}





/*--------------------
DEFAULTS
--------------------*/

body {
    font-family: FuturaLT-Light;
    font-size: 1.8em;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;

    &.no-pad {
        padding: 0px;
    }
}





/*--------------------
UNORGANIZED
--------------------*/

.bullet-info-area {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-size: 1.3em;
}

.iceberg-orphan h2 {
    text-align: center;
    color: white;
    
}

.cta-area {
    background-color: rgba(218, 236, 246, 0.5);
    padding: 30px 30px;

}

.pre-cta {
    font-family: FuturaLT;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.urgency-statement {
    text-align: center;
    color: white;
}

strong {
    font-family: DINNextLTPro-Bold;
}






/*--------------------
COLOR CLASSES
--------------------*/

.white {
    color: white;
}




/*--------------------
HELPER CLASSES
--------------------*/

.center {
    text-align: center;
}

.pad {
    padding: 20px;
}

.add-margin-bottom {
    margin-bottom: 20px;
}

.pad-top-and-bottom {
    padding: 40px 0px 40px 0px
}

.flex-container {
    display: flex;

    .flex-vcenter {
        align-self: center;
    }
}



// Buttons
button {
    position: relative;
    vertical-align: top;
    height: 60px;
    padding: 0px 30px 0px 30px;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: $color5;
    border: 0;
    border-bottom: 2px solid $color5-shadow;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px $color5-shadow;
    box-shadow: inset 0 -2px $color5-shadow;
}

button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}





/*--------------------
SPLASH SCREEN
--------------------*/

.splash {
    height: 80vh;
    overflow: hidden;
    position: relative; //needed to make overflow work
    background: none;

    .background {

        //Backup image for when video fails
        background: url('../img/happypeople.jpg') center center;

        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;

        video {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            z-index: -1000;
            overflow: hidden;
        }
    }

    .fader {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.7;
        position: absolute;
        z-index: -1;
    }

    .splash-text {

        max-width: 1000px;
        margin: auto;

        .headline {
            font-family: FuturaLT-Bold;
            text-align: center;
            color: white;
        }

        .supporting-statement {
            font-family: FuturaLT;
            text-align: center;
            margin-bottom: 20px;
            color: white;
        }
    }
}



/*--------------------
POINTS
--------------------*/

.point-container {

    min-height: 100%;

    .point-inner{
        margin: 10px;


        .point-box {
            padding: 10px;
            border: 1px solid black;
            text-align: center;

            img {
                width: 100%;
            }

            div {
                padding-top: 10px;
            }
        }
    }
}


.share-container {
    text-align: center;

    .stButton, ,stMainServices {
        height: inherit;
    }

    .stButton_gradient  {
        height: inherit;
    }
}
