/*--------------------
COLORS
--------------------*/

$color1: #05668D;
$color1-shadow: darken($color1, 10%);
$color1-highlight: lighten($color1, 10%);

$color2: #028090;
$color2-shadow: darken($color1, 10%);
$color2-highlight: lighten($color1, 10%);

$color3: #00A896;
$color3-shadow: darken($color1, 10%);
$color3-highlight: lighten($color1, 10%);

$color4: #02C39A;
$color4-shadow: darken($color1, 10%);
$color4-highlight: lighten($color1, 10%);

$color5: #C24600;
$color5-shadow: darken($color1, 10%);
$color5-highlight: lighten($color1, 10%);


$primary: $color1;
$primary-shadow: #000000;
$primary-highlight: #000000;

$secondary: $color1;
$secondary-shadow: $color1-shadow;
$secondary-highlight: $color1-highlight;

$highlight: #000000;
$highlight-shadow: #000000;


/*--------------------
FONTS
--------------------*/

@font-face {
    font-family: DINNextLTPro-Regular;
    src: url(../fonts/DINNextLTPro-Regular.otf);
}

@font-face {
    font-family: DINNextLTPro-Bold;
    src: url(../fonts/DINNextLTPro-Bold.otf);
}

@font-face {
    font-family: DINNextLTPro-Medium;
    src: url(../fonts/DINNextLTPro-Medium.otf);
}

@font-face {
    font-family: pier-regular;
    src: url(../fonts/pier-regular.otf);
}

@font-face {
    font-family: pier-bold;
    src: url(../fonts/pier-regular.otf);
}

@font-face {
    font-family: FuturaLT-ExtraBold;
    src: url(../fonts/FuturaLT-ExtraBold.ttf);
}

@font-face {
    font-family: FuturaLT-Bold;
    src: url(../fonts/FuturaLT-Bold.ttf);
}

@font-face {
    font-family: FuturaLT-Light;
    src: url(../fonts/FuturaLT-Light.ttf);
}

@font-face {
    font-family: FuturaLT;
    src: url(../fonts/FuturaLT.ttf);
}





/*--------------------
DEFAULTS
--------------------*/

body {
    font-family: FuturaLT-Light;
    font-size: 1.8em;
}

.row {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}





/*--------------------
UNORGANIZED
--------------------*/

.bullet-info-area {
    padding-left: 20px;
    padding-right: 20px;
}

.cta-area {
    background-color: #DAECF6;
    padding: 30px 30px;
}

.pre-cta {
    font-family: FuturaLT;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.cta-button {
    background-color: #F37021;
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
    color: white;
    border: none;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.urgency-statement {
    text-align: center;
    color: white;
}

strong {
    font-family: DINNextLTPro-Bold;
}






/*--------------------
COLOR CLASSES
--------------------*/

.white {
    color: white;
}




/*--------------------
HELPER CLASSES
--------------------*/

.center {
    text-align: center;
}

.pad {
    padding: 20px;
}

.pad-top-and-bottom {
    padding: 40px 0px 40px 0px
}

.flex-container {
    display: flex;

    .flex-vcenter {
        align-self: center;
    }
}






/*--------------------
SPLASH SCREEN
--------------------*/

.splash {
    height: 80vh;
    overflow: hidden;
    position: relative; //needed to make overflow work
    background: none;

    .background {

        //Backup image for when video fails
        background: url('../img/happypeople.jpg') center center;

        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;

        video {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            z-index: -1000;
            overflow: hidden;
        }
    }

    .fader {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.7;
        position: absolute;
        z-index: -1;
    }

    .splash-text {

        max-width: 1000px;
        margin: auto;

        .headline {
            font-family: FuturaLT-Bold;
            text-align: center;
            color: white;
        }

        .supporting-statement {
            font-family: FuturaLT;
            text-align: center;
            margin-bottom: 40px;
            color: white;
        }
    }
}



/*--------------------
POINTS
--------------------*/

.point-container {

    min-height: 100%;

    .point-inner{
        margin: 10px;


        .point-box {
            padding: 10px;
            border: 1px solid black;
        }
    }
}


.share-container {
    text-align: center;

    .stButton, ,stMainServices {
        height: inherit;
    }

    .stButton_gradient  {
        height: inherit;
    }
}
