@import '_base.scss';


/*--------------------
UNORGANIZED
--------------------*/

.bullet-info-area {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;

    h2 { 
        color: white;
        font-size: 36px;
    }
    
    @media (min-width: 1025px) {
        h2 {
            font-size: 40px;
        }
    }
    
    
    
    /*p {
        font-size: 24px;
    }
    
    li {
        font-size: 24px;
    }*/
}

@media (min-width: 768px) {
    .bullet-info-area { 
        font-size: 20px;
    }
}

.cta-area {
    background-color: rgba(218, 236, 246, 0.5);
    padding: 20px 20px;
    margin-top: 45px;

}

.cta-headline {
    margin-top: 10px;
}

@media (min-width: 970px) {
    .cta-headline {
        margin-top: 0;   
    }
}

.pre-cta {
    font-family: FuturaLT;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.urgency-statement {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 0 0;
    margin-top: 30px;
    padding-bottom: 20px;
    
    strong {
        font-size: 26px;
    }
}

.mobile-vid {
    
}


/*--------------------
COLOR CLASSES
--------------------*/

.white {
    color: white;
}


/*--------------------
SPLASH SCREEN
--------------------*/

.splash {
    overflow: hidden;
    position: relative; //needed to make overflow work
    background: none;
    color: white;
    
    .background {

        //Backup image for when video fails
        background: $color3;

        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        margin-left: -1px;

        video {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            z-index: -1000;
            overflow: hidden;
            border: none;
        }
    }

    .fader {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.7;
        position: absolute;
        z-index: -1;
    }

    .splash-text {

        max-width: 1000px;
        margin: auto;
    }

    .call-to-action {
        padding:0;
        max-width: 950px;
        margin: auto;
        display: flex;

        .sign-up {
            align-self: center;
        }

        .vid-col {
            padding: 0;
        }
    }
}

.bottom-statement {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    left:0;
    right:0;
}

.video-section {
    //background: black;
    width: 100%;
    margin-bottom: 15px;
}


@media (min-width: 768px) {
    .splash {
        //height: 100vh;
    }
}

.cta-alternative {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: white;   
}

.cta-alternative:hover {
    color: $color5;
}

.cta-alternative:visited {
    color: white;   
}

.cta-alternative:visited:hover {
    color: $color5;  
}

.cta-alternative:active {
    color: $color5-highlight;
}

.headline {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 65px;
}

.supporting-statement {
    text-align: center;
    font-size: 34px;
    margin-bottom: 25px;
    color: white;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}



/*--------------------
POINTS
--------------------*/

.point-headline {
    margin-top: 30px;
    margin-bottom: 10px;
}

.point-headline-2 {
    margin-bottom: 25px;
}

.point-container {

    min-height: 100%;

    .point-inner{
        margin: 10px;


        .point-box {
            padding: 10px;
            //border: 1px solid black;
            text-align: center;

            img {
                width: 100%;
                margin-top: 5px;
                margin-bottom: 15px;
            }

            div {
                padding-top: 10px;
            }
        }
    }
}

.point-quote-area {
    margin-top: 40px;
    margin-bottom: 40px;
}

.share-container {
    margin-bottom: 20px;
    text-align: center;

    .stButton, ,stMainServices {
        height: inherit;
    }

    .stButton_gradient  {
        height: inherit;
    }
}



.iceberg {
    position:relative;
    background-image: url(../img/iceberg-overlay.png);

    background-position: top center;
    background-size: cover;

    height: 1180px;

    .iceberg-bottom {
        bottom: 0px;
        position: absolute;
        width: 100%;
        //padding: 30px;
        margin:auto;
    }
    
    a {
        color: white;
    }
}

.quote {
    font-size: 20px;
    //padding-right: 60px;
    font-weight: 200;
    line-height: 1.4em;
}

@media (min-width: 768px) {
    .quote {
        font-size: 24px;   
    }
}


@mixin standard-section() {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*--------------------
SHARE
--------------------*/

.canada-area {
    @include standard-section;
    position:relative;
    background-image: url(../img/canada_leaf.png);
    background-position: top center;
    background-size: cover;
    color: white;
    
    h1 {
        margin-top: 35px;
        font-size: 30px;
        //text-align: center;
    }
    
    h2 {
        font-size: 24px; 
        //text-align: center;
    }
}

@media (min-width: 768px) {
    .canada-area {
        //background-image: url(../img/canada.png);
        //height: 350px;
        //color: black;
        
        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 30px;   
        }
    }
    

}

.share-area {   
    padding-top: 20px;
    background-color: #250C3D;
    color: white;
}

.stButton .st-twitter-counter   {
    padding-bottom: 20px !important;
}

.stButton .stMainServices  {
    padding-bottom: 20px !important;
}

.stButton .st-facebook-counter   {
    padding-bottom: 20px !important;
}



/*--------------------
DONATION
--------------------*/

.donation-area {
    @include standard-section;
}